* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg,#0d6efd,#0dcaf0);
  font-family: "Segoe UI", sans-serif;
}

.box {
  width: 100%;
  max-width: 420px;
  background: white;
  padding: 35px;
  border-radius: 25px;
  box-shadow: 0 25px 60px rgba(0,0,0,.3);
}

h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #0d6efd;
}

label {
  font-weight: 600;
  margin-top: 15px;
  display: block;
}

input, select {
  width: 100%;
  margin-top: 6px;
  padding: 14px;
  border-radius: 18px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button {
  margin-top: 30px;
  width: 100%;
  padding: 16px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(135deg,#0d6efd,#0b5ed7);
  color: white;
  font-size: 20px;
  cursor: pointer;
}

button:hover {
  transform: scale(1.03);
}

/* MOBILE */

@media(max-width:600px){
  .box{
    margin:15px;
    padding:25px;
  }
}
