/* Animação de fundo para a área principal */
#painel.piscar-amarelo {
    animation: alerta-total 0.8s infinite;
}

@keyframes alerta-total {
    0%, 100% { background-color: #001427; }
    50% { background-color: #ffd500; }
}

/* Inverte a cor do texto do paciente para preto quando o fundo ficar amarelo */
#painel.piscar-amarelo #nome-paciente {
    color: #000 !important;
}

#painel.piscar-amarelo .label-topo {
    color: #000;
}