* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    background-color: #001b3a;
    color: white;
    font-family: 'Arial Black', sans-serif;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

/* Tela de ativação */
#camada-ativacao {
    position: fixed; top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(0,0,0,0.95); z-index: 9999;
    display: flex; justify-content: center; align-items: center;
}
#camada-ativacao button {
    padding: 40px; font-size: 30px; background: #FFCC00; 
    border: none; border-radius: 20px; font-weight: bold; cursor: pointer;
}

.container {
    display: flex; flex-direction: column; width: 100%; height: 100%; padding: 2vh;
}

.bloco-chamada {
    flex: 4; display: flex; flex-direction: column; justify-content: center;
    align-items: center; border: 1vh solid #0074D9; border-radius: 5vh;
    background: rgba(255,255,255,0.02); margin-bottom: 2vh;
}

.status-topo { font-size: 4vh; color: #85fffd; letter-spacing: 1.5vw; }

#nome-paciente {
    font-size: 16vh; /* Letra Gigante na TV */
    text-align: center; line-height: 1; margin: 2vh 0;
    text-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.cards-info { display: flex; width: 90%; gap: 3vw; }

.card {
    flex: 1; background: #0074D9; padding: 3vh; border-radius: 3vh;
    text-align: center; box-shadow: 0 1vh 3vh rgba(0,0,0,0.5);
}

.label { font-size: 2.5vh; color: #001b3a; font-weight: bold; }

#nome-profissional, #consultorio { font-size: 6vh; font-weight: bold; }

.rodape {
    flex: 1; background: rgba(0,0,0,0.3); border-radius: 3vh;
    padding: 2vh; display: flex; align-items: center; gap: 20px;
}

.txt-hist { font-size: 2vh; color: #666; font-weight: bold; }

#lista-historico { display: flex; list-style: none; gap: 2vw; font-size: 3.5vh; color: #aaa; }

/* ANIMAÇÃO AMARELA */
.piscar-amarelo { animation: alerta 0.7s infinite; }
@keyframes alerta {
    0%, 100% { background-color: #001b3a; }
    50% { background-color: #FFFF00; }
}
.piscar-amarelo #nome-paciente, .piscar-amarelo .status-topo { color: #000 !important; }