* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background:#001b3a;
  color:white;
  height:100vh;
  font-family: Arial Black, Arial, sans-serif;
}

.container {
  height:100%;
  padding:3vh;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}

/* PRINCIPAL */

.area-principal {
  flex:6;
  border:1.2vh solid #0d6efd;
  border-radius:3vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  padding:3vh;
}

.label-topo{
  font-size:3vh;
  opacity:.7;
}

/* NOME PACIENTE */

#nome-paciente {
  font-size:12vh;
  color:#f6f6f3;
  margin:2vh 0;
  text-align:center;
  line-height:1.1;
  max-width:95%;
  word-break:break-word;
}

/* CARDS */

.cards-container{
  width:90%;
  margin-top:40px;
  display:flex;
  justify-content:center;
  gap:50px; /* distância entre profissional e local */
}


.card{
  width:48%;
}


.card{
  width:45%;
  background:#0d6efd;
  padding:30px;
  border-radius:25px;
  text-align:center;
}


.card .label{
  font-size:3vh;
  opacity:.8;
}

#nome-profissional,#consultorio{
  font-size:5vh;
  margin-top:1vh;
}

/* HISTÓRICO */

.secao-historico{
  flex:2;
  margin-top:2vh;
  background:#00000055;
  border-radius:3vh;
  padding:2vh;
  display:flex;
  align-items:center;
  gap:3vh;
}

.titulo-hist{
  font-size:3vh;
  color:#7dfcff;
}

#lista-historico{
  display:flex;
  gap:2vh;
  list-style:none;
}

#lista-historico li{
  background:#111;
  padding:1.5vh 4vh;
  border-radius:5vh;
  font-size:3vh;
}

/* ALERTA */

.piscar-amarelo{
  animation:pisca .6s infinite;
}

@keyframes pisca{
  0%,100%{background:#001b3a;}
  50%{background:yellow;}
}

.piscar-amarelo #nome-paciente{
  color:rgb(255, 254, 254);
}

/* NOTEBOOK */

@media(max-width:1400px){

#nome-paciente{
  font-size:8vh;
}

#nome-profissional,#consultorio{
  font-size:3vh;
}

}

/* ===================== */
/* MODO TV AUTOMÁTICO */
/* ===================== */

@media (min-width: 1200px) {

.label-topo{
  font-size:4vh;
}

#nome-paciente{
  font-size:12vw !important;
  margin:40px 0;
}

.cards-container{
  gap:80px;
  margin-top:50px;
}

.card{
  padding:50px;
}

.card .label{
  font-size:3vh;
}

#nome-profissional,
#consultorio{
  font-size:5vw;
}

.secao-historico{
  padding:30px;
}

#lista-historico li{
  font-size:3vh;
  padding:18px 40px;
}

}

@media (min-width: 1200px) {

.area-principal{
  padding-top:40px;
}

#nome-paciente{
  margin-bottom:60px;
}

/* separar bem profissional / local */
.cards-container{
  gap:120px;
  margin-top:20px;
}

/* subir cards um pouco */
.cards-container{
  transform: translateY(-40px);
}

/* evitar que invadam histórico */
.secao-historico{
  margin-top:60px;
}

}