*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:linear-gradient(180deg,#001b3a,#000814);
  color:white;
  height:100vh;
  font-family:Arial, Helvetica, sans-serif;
}

.container {
  height:100%;
  width:100%;
  padding:40px;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}

/* ================= AREA PRINCIPAL ================= */

.area-principal {
  flex:1;
  border:10px solid #0d6efd;
  border-radius:40px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  padding:30px;
}

.label-topo{
  font-size:2.5vh;
  opacity:.7;
  letter-spacing:2px;
}

#nome-paciente
 #nome-paciente {
  font-size: clamp(50px, 14vw, 170px);
  color:#ffd500;
  margin:15px 0;
  text-align:center;
  text-shadow:0 0 25px #ffd50055;
}

/* ================= CARDS ================= */

.cards-container{
  width:100%;
  margin-top:30px;
  display:flex;
  gap:25px;
}

.card{
  flex:1;
  background:linear-gradient(180deg,#0d6efd,#0046b3);
  padding:25px;
  border-radius:25px;
  text-align:center;
  box-shadow:0 10px 25px #00000066;
}

.card .label{
  font-size:2vh;
  opacity:.8;
}

#nome-profissional,
#consultorio{
  font-size:clamp(22px,3.5vw,50px);
  margin-top:10px;
  font-weight:bold;
}

/* ================= HISTORICO ================= */

.secao-historico{
  flex:1;
  background:#00000066;
  border-radius:25px;
  padding:15px 25px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  gap:10px;
}

.titulo-hist{
  font-size:2vh;
  color:#7dfcff;
  text-align:center;
}

#lista-historico{
  display:flex;
  justify-content:center;
  gap:15px;
  list-style:none;
  flex-wrap:wrap;
}

#lista-historico li{
  background:#0d6efd;
  padding:10px 25px;
  border-radius:40px;
  font-size:2.2vh;
  box-shadow:0 0 15px #0d6efd88;
}

/* ================= ALERTA ================= */

.piscar-amarelo{
  animation:pisca 1s infinite;
}

@keyframes pisca{
  0%{
    background:#001b3a;
  }
  50%{
    background:#ffd500;
  }
  100%{
    background:#001b3a;
  }
}

.piscar-amarelo #nome-paciente{
  color:#000;
  text-shadow:0 0 20px #fff;
}

/* ================= MOBILE ================= */

@media(max-width:768px){

.cards-container{
  flex-direction:column;
}

.secao-historico{
  padding:10px;
}

#nome-paciente{
  font-size:50px;
}

}
