*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#001b3a;
  color:white;
  height:100vh;
  font-family:Arial Black, Arial;
}

.container{
  height:100%;
  padding:25px;
  display:flex;
  flex-direction:column;
}

/* ================= PAINEL PRINCIPAL ================= */

.area-principal{
  flex:4;
  border:10px solid #0d6efd;
  border-radius:35px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.label-topo{
  font-size:2vh;
  opacity:.7;
}

#nome-paciente{
  font-size:7vw;
  color:#ffd500;
  margin:25px 0;
  text-align:center;
}

.cards-container{
  width:90%;
  display:flex;
  gap:50px;
}

.card{
  flex:1;
  background:#0d6efd;
  padding:35px;
  border-radius:25px;
  text-align:center;
}

.card .label{
  font-size:2vh;
  opacity:.8;
}

#nome-profissional,
#consultorio{
  font-size:3vw;
  margin-top:10px;
}

/* ================= HISTÓRICO ================= */

.secao-historico{
  flex:1;
  margin-top:25px;
  background:#00000055;
  border-radius:25px;
  padding:20px;
  display:flex;
  align-items:center;
  gap:20px;
}

.titulo-hist{
  font-size:2vh;
  color:#7dfcff;
}

#lista-historico{
  display:flex;
  gap:20px;
  list-style:none;
}

#lista-historico li{
  background:#111;
  padding:12px 30px;
  border-radius:40px;
  font-size:2.3vh;
}

/* ================= ALERTA (SÓ PAINEL) ================= */

.piscar-amarelo .area-principal{
  animation:pisca .6s infinite;
}

@keyframes pisca{
  0%,100%{background:#001b3a;}
  50%{background:yellow;}
}

.piscar-amarelo #nome-paciente{
  color:black;
}

/* ================= CELULAR ================= */

@media(max-width:768px){

  #nome-paciente{
    font-size:10vw;
  }

  .cards-container{
    flex-direction:column;
    gap:20px;
  }

  .card{
    width:100%;
  }

  #nome-profissional,
  #consultorio{
    font-size:6vw;
  }
}

/* ================= TV GRANDE ================= */

@media(min-width:1400px){

  #nome-paciente{
    font-size:12vw;
  }

  #nome-profissional,
  #consultorio{
    font-size:4vw;
  }

  .card{
    padding:60px;
  }

  .cards-container{
    gap:100px;
  }

  .titulo-hist{
    font-size:3vh;
  }

  #lista-historico li{
    font-size:3vh;
  }
}
