@keyframes alerta-amarelo {
    0% { background-color: transparent; }
    50% { background-color: #ffff00; } /* Amarelo Vibrante */
    100% { background-color: transparent; }
}

.piscar-amarelo {
    animation: alerta-amarelo 0.8s infinite;
    color: #000 !important; /* Muda o texto para preto para dar contraste com o amarelo */
}