*{
 margin:0;
 padding:0;
 box-sizing:border-box;
}

body{
 background:#001427;
 color:white;
 height:100vh;
 width:100vw;
 font-family:Arial Black;
 display:flex;
 justify-content:center;
 align-items:center;
 overflow:hidden;
}

.container{
 width:100%;
 height:100%;
 display:grid;
 grid-template-rows:55% 30% 15%;
 gap:2vh;
 padding:2vh;
}

/* ================= PACIENTE ================= */

.area-principal{
 border:1vh solid #0d6efd;
 border-radius:4vh;
 display:flex;
 flex-direction:column;
 justify-content:center;
 align-items:center;
 padding:2vh;
}

.label-topo{
 font-size:3vh;
 opacity:.7;
}

/* PC CONTROLADO */

#nome-paciente{
 font-size:10vh;
 color:#ffd500;
 text-align:center;
 line-height:1;
 max-width:95%;
 word-break:break-word;
}

/* ================= PROF + LOCAL ================= */

.cards-container{
 display:grid;
 grid-template-columns:1fr 1fr;
 gap:3vw;
}

.card{
 background:#0d6efd;
 border-radius:4vh;
 display:flex;
 flex-direction:column;
 justify-content:center;
 align-items:center;
}

.card .label{
 font-size:3vh;
 opacity:.8;
}

.card div{
 font-size:5vh;
 text-align:center;
 padding:1vh 2vw;
}

/* ================= HISTÓRICO ================= */

.secao-historico{
 display:flex;
 align-items:center;
 gap:2vw;
}

.titulo-hist{
 color:#ffd500;
 font-size:2.5vh;
}

#lista-historico{
 display:flex;
 gap:1vw;
 list-style:none;
 overflow:hidden;
}

#lista-historico li{
 background:#111;
 padding:1vh 2vw;
 border-radius:5vh;
 font-size:2vh;
}

/* ================= ALERTA ================= */

.piscar-amarelo{
 animation:pisca .7s infinite;
}

@keyframes pisca{
 0%,100%{background:#001427;}
 50%{background:#ffd500;}
}

.piscar-amarelo #nome-paciente{
 color:black;
}

/* ================================================= */
/* ======================= TV ======================= */
/* ================================================= */

/* ================= TV MODE ================= */
@media (min-width: 1400px) {

  /* área principal (paciente) mais larga */
  .area-principal{
    width: 100% !important;
    padding: 40px !important;
  }

  /* nome do paciente gigante */
  #nome-paciente{
    font-size: 6vw !important;
    line-height: 1.1;
    text-align: center;
    word-break: break-word;
  }

  /* cards profissional / consultório lado a lado melhor */
  .cards-container{
    gap:40px;
  }

}



.card div{
 font-size:10vh;
}

.titulo-hist{
 font-size:3vh;
}

#lista-historico li{
 font-size:2.5vh;
}

}
