.piscar-amarelo {
    animation: alerta-amarelo 0.8s infinite !important;
}

@keyframes alerta-amarelo {
    0% { background-color: #001b3a; } /* Cor original */
    50% { background-color: #FFFF00; } /* Amarelo Vibrante */
    100% { background-color: #001b3a; }
}

/* Garante que o texto fique preto durante o pisca para contraste */
.piscar-amarelo #nome-paciente, 
.piscar-amarelo .header-label, 
.piscar-amarelo #nome-profissional, 
.piscar-amarelo #consultorio {
    color: #000 !important;
    text-shadow: none !important;
}