*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#001b3a;
color:white;
height:100vh;
font-family:Arial Black;
overflow:hidden;
}

.container{
height:100%;
padding:20px;
display:flex;
flex-direction:column;
}

/* ÁREA PRINCIPAL */

.area-principal{
flex:4;
border:10px solid #0d6efd;
border-radius:30px;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;
}

.label-topo{
font-size:2.5vh;
opacity:.7;
}

/* PACIENTE */

#nome-paciente{
font-size:clamp(40px,10vw,140px);
color:#ffd500;
margin:25px 0;
text-transform:uppercase;
}

/* CARDS */

.cards-container{
width:100%;
display:flex;
gap:25px;
margin-top:30px;
}

.card{
flex:1;
background:#0d6efd;
padding:25px;
border-radius:20px;
text-align:center;
}

.card .label{
font-size:2vh;
opacity:.8;
}

#nome-profissional,
#consultorio{
font-size:clamp(22px,4vw,55px);
margin-top:10px;
}

/* HISTÓRICO */

.secao-historico{
flex:1;
margin-top:20px;
background:#00000055;
border-radius:20px;
padding:20px;
display:flex;
align-items:center;
gap:20px;
overflow:hidden;
}

.titulo-hist{
font-size:2vh;
color:#7dfcff;
white-space:nowrap;
}

#lista-historico{
display:flex;
gap:15px;
list-style:none;
overflow:hidden;
}

#lista-historico li{
background:#111;
padding:12px 30px;
border-radius:40px;
font-size:2.5vh;
white-space:nowrap;
}

/* ALERTA AMARELO */

.piscar-amarelo{
animation:pisca .6s infinite;
}

@keyframes pisca{
0%,100%{background:#001b3a;}
50%{background:yellow;}
}

.piscar-amarelo #nome-paciente{
color:black;
}

/* ================= MOBILE ================= */

@media(max-width:768px){

.cards-container{
flex-direction:column;
}

.secao-historico{
flex-direction:column;
}

#nome-paciente{
font-size:8vh;
}

}

/* ================= NOTEBOOK ================= */

@media (max-width:1600px){

#nome-paciente{
font-size:clamp(40px,8vw,110px);
}

#nome-profissional,
#consultorio{
font-size:clamp(18px,3vw,40px);
}

}

/* ================= TV AUTOMÁTICA ================= */

@media (min-width:1601px){

#nome-paciente{
font-size:clamp(130px,12vw,240px);
}

#nome-profissional,
#consultorio{
font-size:clamp(60px,6vw,100px);
}

.label-topo{
font-size:4vh;
}

.card{
padding:45px;
}

.secao-historico{
padding:35px;
}

#lista-historico li{
font-size:4vh;
}

}
