*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#001b3a;
color:white;
height:100vh;
font-family:Arial Black, Arial, sans-serif;
}

.container{
height:100%;
padding:20px;
display:flex;
flex-direction:column;
}

/* ================= NOTEBOOK / PADRÃO ================= */

.area-principal{
flex:4;
border:10px solid #0d6efd;
border-radius:30px;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

.label-topo{
font-size:3vh;
opacity:.7;
}

#nome-paciente{
font-size:clamp(50px,12vw,140px);
color:#ffd500;
margin:20px 0;
text-align:center;
}

.cards-container{
width:90%;
display:flex;
gap:25px;
}

.card{
flex:1;
background:#0d6efd;
padding:25px;
border-radius:20px;
text-align:center;
}

.card .label{
font-size:2vh;
opacity:.8;
}

#nome-profissional,
#consultorio{
font-size:clamp(20px,4vw,50px);
margin-top:10px;
}

.secao-historico{
flex:1;
margin-top:20px;
background:#00000055;
border-radius:20px;
padding:15px;
display:flex;
align-items:center;
gap:20px;
}

.titulo-hist{
font-size:2vh;
color:#7dfcff;
}

#lista-historico{
display:flex;
gap:15px;
list-style:none;
}

#lista-historico li{
background:#111;
padding:12px 30px;
border-radius:40px;
font-size:2.5vh;
}

/* ALERTA */

.piscar-amarelo{
animation:pisca .6s infinite;
}

@keyframes pisca{
0%,100%{background:#001b3a;}
50%{background:yellow;}
}

.piscar-amarelo #nome-paciente{
color:black;
}

/* ================= MOBILE ================= */

@media(max-width:768px){

.cards-container{
flex-direction:column;
}

.secao-historico{
flex-direction:column;
}

}

/* ================= MODO TV AUTOMÁTICO ================= */

@media (min-width:1601px){

.container{
padding:40px;
}

.label-topo{
font-size:5vh;
margin-bottom:20px;
}

#nome-paciente{
font-size:clamp(180px,14vw,300px);
margin:40px 0;
}

.cards-container{
gap:60px;
margin-top:40px;
width:100%;
}

.card{
padding:50px;
border-radius:30px;
}

#nome-profissional,
#consultorio{
font-size:clamp(70px,6vw,120px);
}

.secao-historico{
padding:40px;
}

#lista-historico li{
font-size:4vh;
padding:25px 50px;
}

}
