*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#001427;
color:white;
height:100vh;
font-family:Arial Black,Arial;
}

.container{
height:100%;
padding:30px;
display:grid;
grid-template-rows:auto auto 1fr;
gap:25px;
}

.area-principal{
border:8px solid #0d6efd;
border-radius:35px;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
padding:35px;
}

.label-topo{
font-size:2vh;
opacity:.6;
}

#nome-paciente{
font-size:clamp(60px,10vw,190px);
color:#ffd500;
margin-top:20px;
text-align:center;
}

.cards-container{
width:100%;
display:grid;
grid-template-columns:1fr 1fr;
gap:50px;
}

.card{
background:#0d6efd;
padding:35px;
border-radius:30px;
text-align:center;
}

#nome-profissional,#consultorio{
font-size:clamp(28px,4vw,65px);
margin-top:15px;
}

.secao-historico{
background:#00000050;
border-radius:30px;
padding:20px 30px;
display:flex;
align-items:center;
gap:25px;
}

#lista-historico{
display:flex;
gap:20px;
list-style:none;
flex-wrap:wrap;
}

#lista-historico li{
background:#111;
padding:12px 30px;
border-radius:40px;
font-size:2vh;
}

.piscar-amarelo .area-principal{
animation:pisca .6s infinite;
}

@keyframes pisca{
0%,100%{background:#001427;}
50%{background:yellow;}
}

.piscar-amarelo #nome-paciente{
color:black;
}

/* MOBILE */

@media(max-width:900px){
.cards-container{grid-template-columns:1fr;}
}


