/* Animação para piscar a tela */
@keyframes flash {
    0% { background-color: transparent; }
    50% { background-color: #ff3333; } /* Cor vermelha de alerta */
    100% { background-color: transparent; }
}

.piscar-tela {
    animation: flash 1s infinite; /* Pisca a cada 1 segundo */
}